<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid" ng-hide="isLoggedIn()">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>imageintrest</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form class="login-signup text-center" name="loginForm">
				<input type="email" placeholder="email" ng-model="user.email"><input type="password" placeholder="password" ng-model="user.password"><br>
				<button class="btn btn-inverse btn-login" ng-click="login(loginForm)">Login</button><a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')"><i class="fa fa-twitter"></i> Connect with Twitter</a>
			</form>
		</div>
	</div>
</div>

<div class="container-fluid" ng-show="isLoggedIn()">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Enter image url..." ng-model="imgUrl">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="addImage()">Add</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row images">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-xs-6 col-md-4" ng-repeat="img in imgs">
					<div class="thumbnail">
						<i class="fa fa-times fa-3x right" ng-click="delImage(img._id)"></i>
						<img src="{{img.url}}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>