<div class="container-fluid login" ng-hide="isLoggedIn()">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1 class="header-landing">imginterest</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form class="login-signup text-center" name="loginForm" ng-submit="login(loginForm)">
				<input type="email" placeholder="email" ng-model="user.email"><input type="password" placeholder="password" ng-model="user.password" ng-enter="login(loginForm)"><br>
				<button class="btn btn-default" type="submit">Login</button><a class="btn btn-default" ng-href="/signup">Sign Up</a>
			</form>
		</div>
	</div>
</div>