<div class="container-fluid login backdrop">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1 class="header-landing">imginterest</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4" ng-show="onLogin">
			<form class="login-signup text-center" name="loginForm" ng-submit="login(loginForm)">
				<div class="form-group">
					<input class="form-control" type="email" placeholder="email" ng-model="user.email">
					<input class="form-control" type="password" placeholder="password" ng-model="user.password" ng-enter="login(loginForm)"><br>
				<div class="form-group">
				</div>
				<div class="form-group has-error">
          			<p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
          				Please enter your email and password.</p>
          			<p class="help-block" ng-show="form.email.$error.email && submitted">
             			Please enter a valid email.</p>
          			<p class="help-block">{{ errors.other }}</p>
        		</div>
        		<button class="btn btn-default btn-lg" ng-click="submit">Login</button>
			</form>
			<button class="btn btn-inverse btn-lg" ng-click="toggleLoginSignup()">Sign Up</button>
		</div>
	</div>
    <div class="col-md-4 col-md-offset-4" ng-hide="!onLogin">
      <h1>Sign up</h1>
    </div>
    <div class="col-md-4 col-md-offset-4" ng-hide="!onLogin">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-default btn-lg" type="submit">
            Register
          </button>
        </div>
      </form>
      <button class="btn btn-inverse btn-lg" ng-click="toggleLoginSignup()">
            Go to Login</button>
    </div>
</div>