.right {
    float: right;
    position: relative;
    top: 35px;
} 

.images {
    margin-top: 20px;
}

.thumbnail {
    border: none;
}

.thumbnail > i {
    cursor: pointer;
}

.thumbnail > i:hover {
    color: #6C7A89;
}

.thumbnail > img {
    width: 300px;
    height: 200px;
}

.login-signup {
    background-color: grey;
    padding: 10px;
}

input, button {
    margin: 5px;
}

@media (max-width: 992px) {
    .right {
        float: right;
        position: relative;
        top: -5px;
        left: -60px;
    } 
}