.right {
    float: right;
    position: relative;
    top: 35px;
} 

.header-landing {
    font-family: signerica-fat;
    font-weight: bolder;
    font-size: 3em;
}

.images {
    margin-top: 20px;
}

.thumbnail {
    border: none;
}

.thumbnail > i {
    cursor: pointer;
}

.thumbnail > i:hover {
    color: #6C7A89;
}

.thumbnail > img {
    width: 300px;
    height: 200px;
}

.login-signup {
    background-color: transparent;
    padding: 10px;
}

input, .btn-default, .btn-twitter {
    margin: 5px;
}

.login {
    height: 100vh;
    width: 100vw;
    padding-top: 200px;
    background-image: url('../../assets/images/studioB01.jpg');
    background-size: cover;
}

@media (max-width: 992px) {
    .right {
        float: right;
        position: relative;
        top: -5px;
        left: -60px;
    }
    .login {
        background-image: none;
        background-color: #95a5a6;
    }
    .header-landing {
        text-align: center;
    }
}